.card-title, .card-text {
  height: fit-content;
  width: auto;
  margin-bottom: -4rem;
}

#randomQuote, #movieQuote, .submit, #nameBtn  {
  margin-top: 30px;
  width: fit-content;
  height: auto;
  border-radius: 12px;
  transition-duration: 0.4s;
  padding: 10px 20px;
}
#nameBtn {
  display: block; 
  margin: auto; 
}
#randomQuote, #movieQuote {
  display: none;
  align-self: center; 
  margin: auto;
  margin-top: 1rem; 
}
#name {
  color: white;
  margin-top: 2rem;
}

.title {
  font-size: 4rem;
  margin-top: 2rem;
}
.submit {
  margin-bottom: 1rem;
}

#movieQuote:hover {
  background-color: indigo;
  color: white;
}

#randomQuote:hover {
  background-color: indigo;
  color: white;
}
#nameBtn:hover {
  background-color: indigo;
  color: white;
}

.submit:hover {
  background-color: indigo;
  color: white;
}

body {
  margin: auto;
  background-image: url('../assets/img/gameBackground.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
  font-weight: bolder;
  text-align: center;
}

h3 {
  color: white;
  text-align: center;
}

.question {
  color: white;
  text-align: center;
  display: none;
  margin-top: 1px;
}

input {
  margin-top: 10px;
}

#submitAnswer {
  display: none;
}

.correctAnswer {
  background-color: #04a704;
  color: whitesmoke;
  border-radius: 0.25rem;
  opacity: 75%;
} 

.incorrectAnswer {
  background-color: red;
  color: whitesmoke;
  border-radius: 0.25rem;
  opacity: 50%;
}

.name {
  text-align: center; 
  padding: 30px;
  margin: auto;
}

.quote-question {
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.card-text {
  font-family:Vivaldi;
  font-weight: 400;
  font-size: 3.5em;
  color: wheat;
  font-family: Vivaldi;
  margin:0%;
}

.questionBlock {
  background-color: midnightblue;
  border-radius: 0.25rem;
  opacity: 75%;
  width: 40rem;
  height: fit-content;
  display: flex;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
}
.border {
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #aaf0d1,
    0 0 0.8rem #aaf0d1, 0 0 2.8rem #aaf0d1, inset 0 0 1.3rem #aaf0d1;
}

.neonText {
  color: #fff;
  text-shadow: 0 0 21px #fff, 0 0 42px #aaf0d1, 0 0 82px #aaf0d1,
    0 0 92px #aaf0d1, 0 0 102px #aaf0d1, 0 0 120px #aaf0d1;
}

.quote {
  margin: auto;
  justify-content: center;
}

label {
  font-size: 1.5rem;
}

.results {
  display: none;
  width: 100%;  
}
.movieLeaderBoard {
  display: none;
  color: white; 
  font-size: 1.5rem;
  margin: auto;
  background-color: midnightblue;
  border-radius: 0.25rem;
  opacity: 75%;
  width: fit-content;
  height: fit-content;
  padding: 2rem;
  z-index: 1; 
}

.randomLeaderBoard {
  display: none;
  color: white; 
  font-size: 1.5rem;
  margin: auto;
  background-color: midnightblue;
  border-radius: 0.25rem;
  opacity: 75%;
  width: fit-content;
  height: fit-content;
  padding: 2rem;
  z-index: 1; 
}

/* .quote-question {
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.card-text {
  font-family: Vivaldi;
  font-weight: 400;
  font-size: 3.5em;
  color: wheat;
} */
.progress-bar {
  background-color: indigo;
}

#newGame {
  display: none;
}

#my-canvas {
  object-fit: cover; 
  position: fixed;
  width: 100%;  
  z-index: -1; 
}
