#randomQuote, #movieQuote, .submit  {
  margin-top: 30px;
  width: fit-content;
  height: auto;
  border-radius: 12px;
  transition-duration: 0.4s;
  padding: 10px 20px;
}

#movieQuote:hover {
  background-color: indigo;
  color: white;
}

#randomQuote:hover {
  background-color: indigo;
  color: white;
}

.submit:hover {
  background-color: indigo;
  color: white;
}

body {
  margin: auto;
  background-image: url(https://img.freepik.com/free-vector/colorful-futuristic-background-with-shiny-particles_52683-42650.jpg?w=1380&t=st=1654457888~exp=1654458488~hmac=8d03e80a398750d738211acfcf6511188c27f4722348bba63b39ecdc83961cc7);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
  font-weight: bolder;
  text-align: center;
}

.question {
  color: white;
  text-align: center;
  display: none;
  margin-top: 1px;
}

input {
  margin-top: 10px;
}

#submitAnswer {
  display: none;
}
.name {
  text-align: center; 
  padding: 30px;
  margin: auto;
}

.quote-question {
  font-size: large;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.card-text {
  font-family:Vivaldi;
  font-weight: 400;
  font-size: 3.5em;
  color: wheat;
}